<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "css/style.css">
		<link rel = "stylesheet" type = "text/css" href = "css/highlighter.css">

		<script src = "js/highlighter.js"></script>
		<script>
			function load(){
				highlight();
			}
		</script>
	</head>
	<body onload = "load()">
		<h1 id = "title"><%= filename %></h1>
		<div class = "code">
			<div class = "assembly">
				<table>
					<% final_tuple_arr.each do |final_tuple| %>
						<tr>
							<% if final_tuple.instr == nil%>
								<% if final_tuple.pc != nil %>
									<td><%= final_tuple.pc %></br></td>
								<% else %>
									<td></br></td>
								<% end %>
							<% else %>
								<td id = "<%= final_tuple.pc %>">
									<% if final_tuple.target != nil %>
										<a href = "#<%= final_tuple.target %>"><%= final_tuple.instr %></a></br>
									<% else %>
										<%= final_tuple.instr %></br>
									<% end %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</table>
            </div>
			<div class = "source">
				<table>
					<% final_tuple_arr.each do |final_tuple| %>
						<tr>
							<% if final_tuple.src == nil%>
								<td></br></td>
							<% else %>
								<% if final_tuple.gray %>
									<td class = "srcline"><span class = "gray"><%= final_tuple.src %></span></br></td>
								<% else %>
									<td class = "srcline"><%= final_tuple.src %></br></td>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	<body>
</html>
