<html>
	<head>
	</head>
	<body>
		<p><a href = "<%= Dir.pwd %>/HTML/cross_indexing.html#<%= main_loc %>">Main Html</a></p>
		<p>Start xref time: <%= start_time %></p>
		<p>End xref time: <%= end_time %></p>
		<p>xref location: <%= location %></p>
	</body>
</html>
